body {
  padding: 5%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin : 5px;
}

div {
    display: grid;
    height: 100%;
}

#imageDetail{
    max-width: 80%;
    max-height: 80%;
    margin: auto;
}

#imageThumbnail{
    max-width: 10%;
    max-height: 10%;
}

#imageLink{
    width: 10%;
    height: 10%;
    margin: 1%;
}
