body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
    display: grid;
    height: 100%;
}

#imageDetail{
    max-width: 600px;
    max-height: 600px;
    margin: auto;
}

#imageThumbnail{
    max-width: 42px;
    max-height:42px;
}

#imageLink{
    width: 42px;
    height: 42px;
    margin: 5px;
}
